@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+Pro:wght@700&display=swap');

*{
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px; /*1em = 16px*/
}

nav {
    font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	float: right;
	padding-top: 25px;
}

nav a {
	padding: .5em;
	
}

a:hover {
	color: #42EB87;
}

a {
	font-family: 'Merriweather', serif;
	font-size: 1em;
	text-decoration: none;
	color: #1F3291;
	font-weight: bold;
}

h1, h2, h3, h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	text-align: center;
	color: white;
	line-height: 2;
}

h1 {
	font-size: 4.5em;
}

h2 {
	font-size: 2em;
}

h4 {
	font-size: 2em;
	margin-top: 1.5em;
}

p { 
	font-family: 'Merriweather', serif;
	font-size: 1.0em; 
	line-height: 1.5;
	/*width: 30%;*/
}

footer{
	background-color: #D9DCDE;
}

ul {
	font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	list-style-type: none;
}

li {
	text-align: center;
}

#intro {
	background-image: url("../images/meyer_plastics_hero_image.jpg");
	padding: 5em 0;
}

#intro img {
	width: 100%;
}

#about {
	margin: 20px;
}

#aboutmp {
	width: 30%;
	float: left;
}

#credit {
	float: left;
	padding: 0 50px;
}

#credit img{
	width: 100%;
	padding: 10px 0;
}

#aboutimg {
	float: left;
	/*width: 35%;*/
}

#aboutimg img{
	width: 90%;
}

#services li {
	float: left;
	padding: 3.5%;
	margin: .5%;
	background-color: #1F3291
}

#services a {
	color: white;
	background-color:hover: #42EB87;
}

#services a:hover {
	color: #42EB87;
}

#services h2 {
	color: #1F3291;
}

#cta {
	background-color: white;
	margin: 0 auto;
}

#cta h2 {
	color: #1F3291;
}

button {
	background-color: #1F3291;
	text-align: center;
	border: none;
	padding: 15px 32px;
	font-size: 24px;
	border-radius: 8px;
	align-items: center;
}

button a {
	color: white;
}

button:hover {
	color: white;
	background-color: #42EB87;
}

button a:hover {
	color: white;
}

#footermain {
	padding-top: 20px;
}

#contact {
	float: left;
	margin: 1% 3%;
}

#map {
	float: left;
	margin: 1% 5%;
}

#sitemap1 {
	float: left;
	margin: 1% 5%;
	text-align: center;
}

#sitemap1 li, #sitemap2 li {
	padding-bottom: 25px;
}

#sitemap2 {
	float: left;
	margin: 1% 3%;
	text-align: center;
}

#affiliate p {
	text-align: center;
	padding: 5px 0 0 0;
	background-color: #CED7DF;
}

#terms p {
	text-align: center;
	padding: 5px 0;
	background-color: #B7C5DF;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

